/**
 * Site header
 */

.maroon {
  background-color: #e33333;
  color: white;
}

.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 70px;
    background-color: #e33333;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

#title {
  a:visited { color: white !important; }
  a:link { color: white !important;}
  a { color: white !important; }

  text-transform: uppercase;
  color: white;
  margin-top: 6px;
  margin-left: 20px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        margin-right: 20px;
        color: white;
        line-height: 3.7;

        font-weight: 800;
        &:hover {
          text-decoration: none;
          border-bottom: 4px solid white;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 3px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 6px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

h1 {
  color: $text-color;
  font-size: 60px;
  line-height: 82px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer {
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 800;
  height: 70px;
  line-height: 70px;
  margin: 70px 0px 0px 0px;
  padding: 0px 20px;
  text-transform: uppercase;
  position: static;
  width: 100%;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -70px;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

#title {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

#title:hover {
  color: #CCCCCC !important;
  cursor: pointer;
  text-decoration: none;
}
